#page-header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #878c00;
    background-image: url("https://www.transparenttextures.com/patterns/ps-neutral.png");
    margin-right: 50px;
    padding-top: 50px;

}
.avatar{
    text-align: center;
    padding-bottom: 30px;
    margin-top: 0.2em;
    color: #f6f3ed;
    text-shadow: white;
}


@media (min-width: 1025px) {
    .mainBody > header {
      width: 30%;
      margin: 250px 0px 0px 50px;
    }
    .container {
      width: 50%;
      margin: 200px;
    }
    .mainBody {
      display: flex;
    }
  }

  @media (max-width: 1024px) {
    #page-header {
        background-color: #878c00;
        background-image: url("https://www.transparenttextures.com/patterns/ps-neutral.png");

      margin-top: 80px;
      width: 100%;
    }
    .mainBody > nav {
      height: 90px;
      background-color: #878c00;
        background-image: url("https://www.transparenttextures.com/patterns/ps-neutral.png");

    }
  }